<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %> | Twilio Ruby Hackpack</title>
		<link href="/style.css" rel="stylesheet">
	</head>
	<body>
		<center><h1>Hello!</h1></center>
		<p>Things seem to be in order, here. Still some work to do...</p>
	</body>
</html>

